# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch (Excluding our intentionally saved model files for deployment)
# *.pth 
# *.pkl 

# Secrets
secrets.toml
.streamlit/secrets.toml
